html,
body {
	height: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	background-color: #1c2227;
}

h1 {
	font-family: 'Orbitron', sans-serif;
	color: #ffffff;
	letter-spacing: 2px;
}

h3 {
	font-family: 'Orbitron', sans-serif;
	letter-spacing: 2px;
	color: #ffffff;
}

p {
	font-family: 'Open Sans Condensed', sans-serif;
	color: #ffffff;
	font-weight: 100;
	font-style: italic;
	font-size:12px;
}

.yellow-text {
	color: #ffc107;
}

.decorative-strip {
	float: right;
	width: 50px;
	height: 560px;
	margin-left:50px;
	background-color: #ffc107;
}

.wrapper {
	width: 1000px;
	height: 560px;
	background-image: url("../img/background-image.png");
	position: relative;
}

.content {
	float: right;
	height: 518px;
	margin: 10px;
	padding: 10px;
}

header {
	height: 200px;
}

#small-pirate-img {
	position: absolute;
	top:35px;
	right:10px;
}

