h1 {
	font-family: 'Barrio', cursive;
	text-align: center;
}

p {
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
}

.wrapper {
	width:800px;
	height:600px;
	margin:auto;
	border:1px solid black;
}